# Code quality
# ------------------------------------------------------------------------------
flake8 # https://github.com/PyCQA/flake8
flake8-isort  # https://github.com/gforcada/flake8-isort
black  # https://github.com/psf/black
coverage  # https://github.com/nedbat/coveragepy
pre-commit  # https://github.com/pre-commit/pre-commit

# Others
flask-marshmallow==0.14.0
Flask==2.2.2
marshmallow==3.19.0
validate-docbr==1.10.0
httpie==3.2.1
